# Environment files
.env
.env.*
!.env.example
.venv/

# Python package metadata
*.egg-info/
dist/
build/

# Cache files
__pycache__/
*.pyc
.pytest_cache/
.coverage
.cache

# IDE specific files
.vscode/
.idea/

# Other ignores...
*.db